// Header Elementor
#rmt-header-elementor {
	min-height: auto !important;
	#rmt-header-desktop {
		@media #{$max-lg} {
			display: none;
		}
	}
	#rmt-header-mobile {
		display: none;
		@media #{$max-lg} {
			display: block;
		}
        .rmt-header-inner {
            padding-inline: 15px;
        }
	}
}